// 作者
$author: weplan;
$layout-logo-background-color: #ffffff;
// 框架-头部
$layout-header-height: 68px;
$layout-header-background-color: #3ec6d2;
$layout-header-background-color: #409EFF;
$layout-header-border-color: #0a0707;
// 框架-菜单
$layout-menu-width: 190px;
$layout-menu-background-color: #545c64;
//$layout-menu-background-color: #b3c0d1;
$layout-menu-border-color: #dddddd;
// 主要区域
$layout-main-background-color: #f7f7f7;
$global-border-radius-width: 6px;
$layout-space: 6px;
// 底部区域
$layout-footer-height: 50px;
$layout-footer-border-color: #dddddd;
$layout-footer-background-color: #ffffff;
